.navbar {
    display: flex; /* Sets .navbar container as a flex-container, 
    allowing its items to be arranged in a single row */
    flex-direction: row; /* Arranges items into a row */
    background-color: #ffffff; /* Sets background color for .navbar */
    justify-content: space-evenly;
    align-items: center;
}

.navbar img {
    display: flex; /* Sets <img> as a flex-container */
    max-width: 60px;
    max-height: 60px;
}

.navbar .tabs {
    display: flex; /* Sets tabs as a flex-container for its items*/
    flex-direction: row; /* Arranges elements into a row */
    margin: auto;
    justify-content: space-evenly;
    align-items: stretch;
}

.navbar .tabs div {
    margin-right: 10px;
}

.navbar .tabs .work {
    display: flex;
    justify-content: center;
    z-index: 10; /* Set stacking order */
    position: relative;
    margin: auto;
}

.navbar .entry {
    display: flex; /* Sets .entry as a flex-container for its items*/
    color: black; /* Sets the color of link text to black */
}

.navbar .tabs .work .subtabs {
    flex-direction: column; /* Arrange children in a column */
    position: absolute; /* Position the dropdown menu absolutely relative to its nearest positioned ancestor */
    left: 0; /* Align the left edge of the dropdown with the parent */
    top: 100%; /* Position the top of the dropdown just below the parent */
    width: 100px; /* Set a fixed width for the dropdown */
    display: none; /* Initially hide the dropdown */
    padding: 0; /* Remove default padding */
    z-index: 20; /* Set a higher stacking order for the dropdown */
}

.navbar .tabs .work:hover .subtabs {
    display: block; /* Show the dropdown when hovering over the parent */
}

.navbar a {
    text-decoration: none; /* Removes link underline */
    color: black; /* Sets the color of link text to black */
}

.navbar a:hover {
    background-color: #7cc6e5; /* Changes the background color when hovered over */
    border-radius: 20%; /* Rounds up the edges when hovered over */
}

/* Element container usign Flexbox for adaptive rendering */
.container {
    display: flex;
    flex-direction: row; /* Располагает дочерние элементы .container в строку */
    flex-wrap: wrap; /* Элементы переносятся на новую строку при нехватке места */
}

/* Элементы с классами .person и .interests занимают 25% ширины контейнера и центрируются */
.person, .interests {
    width: 25%;
    margin: auto;
}

.my_photo {
    width: 50%;
}

/* Styles for images inside the container */
.container img {
    display: block;
    border-radius: 5%; /* Rounded angles */
    box-shadow: 10px 10px 5px gray; /* Grey shadow */
    width: 30%;
    height: auto; /* Auto height for preserving original proportions */
    margin: auto;
}

/* Эффект при наведении на изображение */
.container img:hover {
    transform: scale(1.1); /* Увеличение изображения на 10% */
    transition: 0.5s ease; /* Плавный переход за 0.5 секунды */
    box-shadow: 10px 10px 5px #7cc6e5; /* Изменение цвета тени на синий */
}

/* Фон для всей страницы */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(221, 184, 197);
}

/* Фон для основного содержимого страницы */
main {
    background: linear-gradient(90deg, rgb(234, 231, 228), rgb(239, 214, 196));
    /* Градиентный фон, плавно переходящий от светлого к более темному оттенку */
}

/* Стили для текста в параграфах */
p {
    text-align: justify; /* Выравнивание текста по ширине */
    font-size: 1.2rem; /* Увеличенный размер шрифта */
    font-weight: normal; /* Обычный вес шрифта */
    margin-right: 20px; /* Добавляет отступ справа у параграфа */
    margin-left: 10px; /* Отступы по бокам */
}

/* Эффект при наведении на параграф */
p:hover {
    background-color: #7cc6e5; /* Синий фон при наведении */
}

/* Секции внутри контейнера */
.container section {
    width: 100%; /* Секция занимает всю ширину контейнера */
    margin: auto; /* Центрирование секции */
}

.container-video {
    display: flex;
    flex-direction: column; /* Контейнер для видео, элементы располагаются вертикально */
}

.video1, .video2, .video3 {
    margin-bottom: 20px; /* Отступ снизу для каждого видео-блока */
    flex-direction: column; /* Внутренние элементы располагаются вертикально */
    display: flex; /* Применение Flexbox для управления содержимым */
}

.video1 video {
    margin: auto; /* Центрирование видео по горизонтали */
}

.video2 iframe {
    margin: auto; /* Центрирование iframe по горизонтали */
}

.video3 iframe {
    margin: auto; /* Центрирование iframe по горизонтали */
}

.container-audio {
    display: flex;
    flex-direction: column; /* Контейнер для аудио, элементы располагаются вертикально */
}

.audio1, .audio2, .audio3 {
    display: flex;
    flex-direction: column; /* Внутренние элементы располагаются вертикально */
    margin-top: 20px; /* Отступ сверху для каждого аудио-блока */
}

.audio1 audio, .audio2 audio, .audio3 audio {
    width: 60%; /* Аудиоплееры занимают 60% ширины контейнера */
    margin: auto; /* Центрирование аудиоплееров по горизонтали */
}

.audio1 img, .audio2 img, .audio3 img {
    margin: auto; /* Центрирование изображений */
    border-radius: 10%; /* Скругление углов изображений */
    box-shadow: 5px 5px 5px #7cc6e5; /* Добавление синеватой тени к изображениям */
}

.container-book {
    display: flex;
    flex-direction: column; /* Контейнер для книг, элементы располагаются вертикально */
}

.book1, .book2, .book3 {
    display: flex;
    flex-direction: column; /* Внутренние элементы располагаются вертикально */
    margin-top: 20px; /* Отступ сверху для каждого книжного блока */
}

.book1 img, .book2 img, .book3 img {
    margin: auto; /* Центрирование изображений */
    border-radius: 10%; /* Скругление углов изображений */
    box-shadow: 5px 5px 5px #7cc6e5; /* Добавление синеватой тени к изображениям */
    margin-bottom: 10px; /* Отступ снизу для изображений */
    width: 25%;
    aspect-ratio: 3/5;
    height: auto;
}

.book1 a, .book2 a, .book3 a {
    margin: auto; /* Центрирование ссылок */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    color: black; /* Цвет текста ссылок черный */
    font-size: 1.2rem; /* Увеличенный размер шрифта для ссылок */
} 

.book1 img:hover, .book2 img:hover, .book3 img:hover {
    box-shadow: 5px 5px 5px greenyellow; /* Изменение тени на зеленовато-желтую при наведении на изображение */
}

.book1 a:hover, .book2 a:hover, .book3 a:hover {
    background-color: #7cc6e5; /* Изменение фона ссылки на синий при наведении */
    transition: 0.7s ease; /* Плавный переход фона за 0.7 секунды */
}

/* Стиль нижнего поля */
footer {
    display: flex;
    flex-direction: row; /* Элементы внутри футера располагаются горизонтально */
    justify-content: center; /* Центрирование содержимого футера */
    margin-top: auto;
    background-color: rgb(255, 255, 255);
}

footer a {
    margin-right: 10px; /* Отступ справа у ссылок в футере */
}

.burger {
    display: none;
}

@media (max-width: 700px) {
    /* Screen width below 700px */

    .navbar {
        align-items: center;
        justify-content: flex-end;
    }

    .navbar img {
        margin: auto;
        margin-left: 0;
    }
    
    .navbar .tabs {
        position: absolute;
        background: radial-gradient(circle at top left, rgb(235, 224, 142), rgb(251, 198, 138), rgb(248, 174, 226)); /* Rainbow gradient background from the upper-left angle */
        flex-direction: column; /* List elements will be displayed veryically */
        width: 30%;
        height: auto;
        top: 68px; /* List displayed 68px lower from the upper-left corner of the screen */
        left: -30%; /* List displayed 40% of the screen width to the left */
        z-index: 2; /* Stack level of the element. it will cover elements with lesser stack levels */
    }

    .navbar .tabs div {
        margin-top: 10px;
        margin-left: 10px;
    }

    .navbar .tabs div:hover {
        background-color: black; /* Black background when hovered over */
        transform: scale(1.07); /* Increased size of element by 7% when hovered over */
        transition: 0.4s ease; /* Smooth transition effect lasting 0.4s */
        border-radius: 5%;
    }

    .navbar .tabs div:hover a {   
        color: white;
    }

    .navbar .tabs div:hover a:hover {
        color: rgb(255, 199, 241); /* Link color changes to pink when hovered over */
        background-color: rgba(0, 0, 0, 0); /* Changes the background color to transparent when hovered over */
    }

    .navbar .tabs div:nth-child(1) {
        margin-top: 20px;
    }

    .navbar .tabs div a {
        margin-left: 0; /* No indentation to the left */
        font-size: 1.2rem;
    }

    .navbar .entry {
        display: flex; /* Sets .entry as a flex-container for its items*/
        color: black; /* Sets the color of link text to black */
    }

    .navbar.open .tabs {
        transform: translateX(100%); /* Move element 100% to the right (out of sight) */
        transition: 0.7s ease-in-out;
    }

    .navbar.open .burger span:nth-child(1) {
        transform: translateY(0) rotate(45deg); /* Rotates the first span by 45°, then returns to the initial place */
    }

    .navbar.open .burger span:nth-child(2) {
        opacity: 0; /* Makes the second span transparent */
    }

    .navbar.open .burger span:nth-child(3) {
        transform: translateY(0) rotate(-45deg);
    }

    .navbar .work .subtabs {
        position: absolute; /* Position the dropdown menu absolutely relative to its nearest positioned ancestor */
        flex-direction: column; /* Arrange children in a column */
        left: 10px; /* Offset the dropdown 10px from the left of the parent */
        top: 0; /* Align the top of the dropdown with the top of the parent */
        width: 100px; /* Set a fixed width for the dropdown */
        display: none; /* Initially hide the dropdown */
        padding: 0; /* Remove default padding */
        z-index: 20; /* Set a higher stacking order for the dropdown */
    }
    
    .navbar .work .subtabs div {
        margin-top: 0; /* Remove top margin */
        margin-bottom: 10px; /* Add bottom margin */
        background-color: unset; /* Remove default background color */
        font-size: 1.2rem; /* Increase font size */
        margin-left: 10px; /* Offset the list item 10px from the left */
        color: black; /* Set text color to black */
    }
    
    .navbar .work .subtabs div:hover {
        background-color: black; /* Change background color to black on hover */
    }
    .navbar .work .subtabs div:hover a:hover {
        color: white; /* Change text color to white when hovering over the link */
    }
    
    .navbar .work:hover .subtabs div a {
    color: black; /* Set text color to black when hovering over the parent */
    }
    
    .container {
        display: flex;
        flex-direction: column; /* Переключение на вертикальный макет */
    }
    
    .person {
        display: flex;
        flex-direction: column; /* Внутренние элементы располагаются вертикально */
        flex-wrap: wrap; /* Перенос элементов на новую строку при необходимости */
        width: 100%; /* Элемент занимает всю ширину контейнера */
        margin: 0; /* Убираем отступы */
    }

    .person p {
        margin-top: 5px; /* Отступ сверху для параграфов */
        margin-bottom: 10px; /* Отступ снизу для параграфов */
    }
    
    .container img {
        margin-top: 20px; /* Отступ сверху для изображений */
        border-radius: 10%; /* Скругление углов изображений */
        box-shadow: 5px 5px 5px gray; /* Тень для изображений */
        width: 95%; /* Изображение занимает 95% ширины контейнера */
        height: auto; /* Высота автоматически подстраивается под ширину */
        margin: auto; /* Центрирование изображения по горизонтали */
    }
    
    .container img:hover {
        transform: scale(1.03); /* Легкое увеличение изображения при наведении */
        transition: 0.5s ease; /* Плавный переход увеличения за 0.5 секунды */
        box-shadow: 5px 5px 5px #7cc6e5; /* Изменение тени при наведении */
    }

    .interests {
        display: flex;
        flex-direction: column; /* Внутренние элементы располагаются вертикально */
        flex-wrap: wrap; /* Перенос элементов на новую строку при необходимости */
        width: 100%; /* Элемент занимает всю ширину контейнера */
        margin: 0; /* Убираем отступы */
    }

    .interests p {
        margin-top: 10px; /* Отступ сверху для параграфов */
        margin-bottom: 0; /* Убираем отступ снизу */
    }

    h2 {
        margin: 10px; /* Отступы вокруг заголовка */
        text-align: center; /* Выравнивание заголовка по центру */
    }

    .video1 video {
        margin-top: 20px; /* Отступ сверху для видео */
        width: 95%; /* Видео занимает 95% ширины контейнера */
        height: auto; /* Высота автоматически подстраивается под ширину */
    }
    
    .video2 iframe {
        width: 95%; /* Iframe занимает 95% ширины контейнера */
        height: 320px; /* Высота Iframe фиксирована */
    }
    
    .video3 iframe {
        width: 95%; /* Iframe занимает 95% ширины контейнера */
        height: 320px; /* Высота Iframe фиксирована */
    }

    .book1 img, .book2 img, .book3 img {
        width: 95%; /* Изображения книг занимают 95% ширины контейнера */
        height: auto; /* Высота автоматически подстраивается под ширину */
    }

    .burger {
        display: block;
        position: relative;
        width: 40px;
        height: 40px;
    }

    .burger span {
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: black;
        bottom: 20px;
        left: 5px;
    }
    
    .burger span:nth-child(1) {
        transform: translateY(-10px); /* Move the first span 10 px up */
    }

    .burger span:nth-child(3) {
        transform: translateY(10px); /* Move the third span 10 px down */
    }
    
}

@media (min-width: 700px) and (max-width: 1000px) {
    /* При ширине экрана от 700px до 1000px */

    .container img {
        display: block;
        border-radius: 5%; /* Rounded angles */
        box-shadow: 10px 10px 5px gray; /* Grey shadow */
        width: 50%;
        height: auto; /* Auto height for preserving original proportions */
        margin: auto;
    }

    .my_photo {
        width: 50%;
        height: auto;
    }
}
