.navbar {
    display: flex; /* Устанавливает контейнер .navbar как flex-контейнер, 
    позволяя его дочерним элементам располагаться в одной линии */
    flex-direction: row; /* Располагает дочерние элементы .navbar в строку */
    justify-content: space-between; /* Распределяет дочерние элементы .navbar равномерно, с максимальным пространством между ними */
    background-color: #faf7f7; /* Устанавливает фоновый цвет для .navbar */
}

.navbar ul {
    display: flex; /* Устанавливает контейнер ul как flex-контейнер для его дочерних элементов (li) */
    flex-direction: row; /* Располагает элементы списка (li) в строку */
    list-style: none; /* Убирает маркеры списка */
    margin: 0; /* Убирает внешний отступ у списка */
}

.navbar ul li {
    display: flex; /* Устанавливает каждый элемент списка (li) как flex-контейнер для его содержимого */
    margin-right: 10px; /* Добавляет отступ справа у каждого элемента списка */
}

.navbar ul li:hover {
    background-color: #7cc6e5; /* Изменяет фоновый цвет элемента списка при наведении курсора */
    border-radius: 20%; /* Скругляет углы элемента списка при наведении курсора */
}

.navbar ul li a {
    text-decoration: none; /* Убирает подчеркивание у ссылок */
    color: black; /* Устанавливает цвет текста ссылок черным */
    margin: auto; /* Центрирует текст внутри элемента списка */
}

.navbar div {
    display: flex; /* Устанавливает div как flex-контейнер */
    margin-right: 20px; /* Добавляет отступ справа у div */
}

.navbar div a {
    text-decoration: none; /* Убирает подчеркивание ссылок в div */
    color: black; /* Устанавливает цвет текста ссылок черным */
    margin: auto; /* Центрирует текст внутри div */
}

.navbar div:hover {
    background-color: #7cc6e5; /* Изменяет фоновый цвет div при наведении курсора */
    border-radius: 20%; /* Скругляет углы div при наведении курсора */
}

/* Контейнер с элементами, использующий Flexbox для адаптивного размещения */
.container {
    display: flex;
    flex-direction: row; /* Располагает дочерние элементы .container в строку */
    flex-wrap: wrap; /* Элементы переносятся на новую строку при нехватке места */
}

/* Элементы с классами .person и .interests занимают 25% ширины контейнера и центрируются */
.person, .interests {
    width: 25%;
    margin: auto;
}

/* Стили для изображений внутри контейнера */
.container img {
    border-radius: 10%; /* Скругленные углы изображения */
    box-shadow: 10px 10px 5px gray; /* Добавление тени с серым цветом */
    width: 25%; /* Ширина изображения составляет 50% от ширины родительского элемента */
    height: auto; /* Автоматическое подстраивание высоты для сохранения пропорций */
}

/* Эффект при наведении на изображение */
.container img:hover {
    transform: scale(1.1); /* Увеличение изображения на 10% */
    transition: 0.5s ease; /* Плавный переход за 0.5 секунды */
    box-shadow: 10px 10px 5px #7cc6e5; /* Изменение цвета тени на синий */
}

/* Фон для всей страницы */
body {
    background-color: #faf7f7; /* Светло-серый цвет */
}

/* Фон для основного содержимого страницы */
main {
    background: linear-gradient(90deg, rgba(254,254,255,1) 0%, rgba(226,237,233,0.72) 37%, rgba(208,238,243,1) 100%);
    /* Градиентный фон, плавно переходящий от светлого к более темному оттенку */
}

/* Стили для текста в параграфах */
p {
    text-align: justify; /* Выравнивание текста по ширине */
    font-size: 1.2rem; /* Увеличенный размер шрифта */
    font-weight: normal; /* Обычный вес шрифта */
    margin-right: 20px; /* Добавляет отступ справа у параграфа */
    margin-left: 10px; /* Отступы по бокам */
}

/* Эффект при наведении на параграф */
p:hover {
    background-color: #7cc6e5; /* Синий фон при наведении */
}

/* Секции внутри контейнера */
.container section {
    width: 100%; /* Секция занимает всю ширину контейнера */
    margin: auto; /* Центрирование секции */
}

.container-video {
    display: flex;
    flex-direction: column; /* Контейнер для видео, элементы располагаются вертикально */
}

.video1, .video2, .video3 {
    margin-bottom: 20px; /* Отступ снизу для каждого видео-блока */
    flex-direction: column; /* Внутренние элементы располагаются вертикально */
    display: flex; /* Применение Flexbox для управления содержимым */
}

.video1 video {
    margin: auto; /* Центрирование видео по горизонтали */
}

.video2 iframe {
    margin: auto; /* Центрирование iframe по горизонтали */
}

.video3 iframe {
    margin: auto; /* Центрирование iframe по горизонтали */
}

.container-audio {
    display: flex;
    flex-direction: column; /* Контейнер для аудио, элементы располагаются вертикально */
}

.audio1, .audio2, .audio3 {
    display: flex;
    flex-direction: column; /* Внутренние элементы располагаются вертикально */
    margin-top: 20px; /* Отступ сверху для каждого аудио-блока */
}

.audio1 audio, .audio2 audio, .audio3 audio {
    width: 60%; /* Аудиоплееры занимают 60% ширины контейнера */
    margin: auto; /* Центрирование аудиоплееров по горизонтали */
}

.audio1 img, .audio2 img, .audio3 img {
    margin: auto; /* Центрирование изображений */
    border-radius: 10%; /* Скругление углов изображений */
    box-shadow: 5px 5px 5px #7cc6e5; /* Добавление синеватой тени к изображениям */
}

.container-book {
    display: flex;
    flex-direction: column; /* Контейнер для книг, элементы располагаются вертикально */
}

.book1, .book2, .book3 {
    display: flex;
    flex-direction: column; /* Внутренние элементы располагаются вертикально */
    margin-top: 20px; /* Отступ сверху для каждого книжного блока */
}

.book1 img, .book2 img, .book3 img {
    margin: auto; /* Центрирование изображений */
    border-radius: 10%; /* Скругление углов изображений */
    box-shadow: 5px 5px 5px #7cc6e5; /* Добавление синеватой тени к изображениям */
    margin-bottom: 10px; /* Отступ снизу для изображений */
}

.book1 a, .book2 a, .book3 a {
    margin: auto; /* Центрирование ссылок */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    color: black; /* Цвет текста ссылок черный */
    font-size: 1.2rem; /* Увеличенный размер шрифта для ссылок */
} 

.book1 img:hover, .book2 img:hover, .book3 img:hover {
    box-shadow: 5px 5px 5px greenyellow; /* Изменение тени на зеленовато-желтую при наведении на изображение */
}

.book1 a:hover, .book2 a:hover, .book3 a:hover {
    background-color: #7cc6e5; /* Изменение фона ссылки на синий при наведении */
    transition: 0.7s ease; /* Плавный переход фона за 0.7 секунды */
}

/* Стиль нижнего поля */
footer {
    display: flex;
    flex-direction: row; /* Элементы внутри футера располагаются горизонтально */
    justify-content: center; /* Центрирование содержимого футера */
}

footer a {
    margin-right: 10px; /* Отступ справа у ссылок в футере */
}


@media (max-width: 700px) {
    /* При ширине экрана до 700px */
    
    .container {
        display: flex;
        flex-direction: column; /* Переключение на вертикальный макет */
    }
    
    .person {
        display: flex;
        flex-direction: column; /* Внутренние элементы располагаются вертикально */
        flex-wrap: wrap; /* Перенос элементов на новую строку при необходимости */
        width: 100%; /* Элемент занимает всю ширину контейнера */
        margin: 0; /* Убираем отступы */
    }

    .person p {
        margin-top: 5px; /* Отступ сверху для параграфов */
        margin-bottom: 10px; /* Отступ снизу для параграфов */
    }
    
    .container img {
        margin-top: 20px; /* Отступ сверху для изображений */
        border-radius: 10%; /* Скругление углов изображений */
        box-shadow: 5px 5px 5px gray; /* Тень для изображений */
        width: 95%; /* Изображение занимает 95% ширины контейнера */
        height: auto; /* Высота автоматически подстраивается под ширину */
        margin: auto; /* Центрирование изображения по горизонтали */
    }
    
    .container img:hover {
        transform: scale(1.03); /* Легкое увеличение изображения при наведении */
        transition: 0.5s ease; /* Плавный переход увеличения за 0.5 секунды */
        box-shadow: 5px 5px 5px #7cc6e5; /* Изменение тени при наведении */
    }

    .interests {
        display: flex;
        flex-direction: column; /* Внутренние элементы располагаются вертикально */
        flex-wrap: wrap; /* Перенос элементов на новую строку при необходимости */
        width: 100%; /* Элемент занимает всю ширину контейнера */
        margin: 0; /* Убираем отступы */
    }

    .interests p {
        margin-top: 10px; /* Отступ сверху для параграфов */
        margin-bottom: 0; /* Убираем отступ снизу */
    }

    h2 {
        margin: 10px; /* Отступы вокруг заголовка */
        text-align: center; /* Выравнивание заголовка по центру */
    }

    .video1 video {
        margin-top: 20px; /* Отступ сверху для видео */
        width: 95%; /* Видео занимает 95% ширины контейнера */
        height: auto; /* Высота автоматически подстраивается под ширину */
    }
    
    .video2 iframe {
        width: 95%; /* Iframe занимает 95% ширины контейнера */
        height: 320px; /* Высота Iframe фиксирована */
    }
    
    .video3 iframe {
        width: 95%; /* Iframe занимает 95% ширины контейнера */
        height: 320px; /* Высота Iframe фиксирована */
    }

    .book1 img, .book2 img, .book3 img {
        width: 95%; /* Изображения книг занимают 95% ширины контейнера */
        height: auto; /* Высота автоматически подстраивается под ширину */
    }
}

@media (min-width: 700px) and (max-width: 900px) {
    /* При ширине экрана от 700px до 900px */
    
    .container img {
        margin-top: 20px; /* Отступ сверху для изображений */
        border-radius: 10%; /* Скругление углов изображений */
        box-shadow: 5px 5px 5px gray; /* Тень для изображений */
        width: 320px; /* Ширина изображения фиксирована */
        height: 200px; /* Высота изображения фиксирована */
        margin: auto; /* Центрирование изображения по горизонтали */
    }
}
