@keyframes rota {
    to {transform: rotate(1.5turn); outline: 3vw double rgba(216, 86, 255, 0.101);}
}

main .kaleidoscope {
    display: flex;
    z-index: 0;
    position: absolute;
    top: 10vh;
    width: 100%;
    z-index: -1;
    margin-left: 1.4vw;
}

main .kaleidoscope div:before,
main .kaleidoscope div:after,
main .kaleidoscope div {
    content: "";
    position: fixed;
    border-right: 3vw double rgba(160, 112, 248, 0.571);
    border-left: 3vw double rgba(0, 255, 34, 0.615);
    border-bottom: 3vw double rgba(255, 0, 76, 0.551);
    border-top: 3vw double rgba(255, 245, 50, 0.67);
    outline: 3vw double rgba(255, 159, 249, 0.258);
    transform: rotate(0.08turn);
	margin: 1em;
}

main .kaleidoscope > div {
	transform: translateX(50vw) translateY(20vh);
}

main .kaleidoscope div:before {
    animation: rota 4s -2s infinite ease-in-out both alternate;
}

main .kaleidoscope div:after {
    animation: rota 4s -4s infinite ease-in-out both alternate;
}

.navbar {
    display: flex; /* Sets .navbar container as a flex-container, 
    allowing its items to be arranged in a single row */
    flex-direction: row; /* Arranges items into a row */
    background-color: #ffffff; /* Sets background color for .navbar */
    align-items: center;
    justify-content: space-between;
}

.navbar img {
    display: flex; /* Sets <img> as a flex-container */
    width: auto;
    height: 6vh;
}

.navbar .tabs {
    display: flex; /* Sets tabs as a flex-container for its items*/
    flex-direction: row; /* Arranges elements into a row */
    margin: auto;
    justify-content: center;
    align-items: flex-end;
    width: auto;
}

.navbar .tabs div {
    margin-right: 5%;
    margin-left: 5%;
}

.navbar .tabs .work {
    display: flex;
    z-index: 10; /* Set stacking order */
    position: relative;
}

.navbar .entry {
    display: flex; /* Sets .entry as a flex-container for its items*/
    color: black; /* Sets the color of link text to black */
    margin-right: 1%;
}

.navbar .tabs .work .subtabs {
    flex-direction: column; /* Arrange children in a column */
    position: absolute; /* Position the dropdown menu absolutely relative to its nearest positioned ancestor */
    left: 0; /* Align the left edge of the dropdown with the parent */
    top: 100%; /* Position the top of the dropdown just below the parent */
    width: 100px; /* Set a fixed width for the dropdown */
    display: none; /* Initially hide the dropdown */
    padding: 0; /* Remove default padding */
    z-index: 20; /* Set a higher stacking order for the dropdown */
}

.navbar .tabs .work .subtabs div {
    background-color: #d9a2a2;
    margin-bottom: 1%;
}

.navbar .tabs .work:hover .subtabs {
    display: block; /* Show the dropdown when hovering over the parent */
}

.navbar a {
    text-decoration: none; /* Removes link underline */
    color: black; /* Sets the color of link text to black */
}

.navbar a:hover {
    background-color: #d9a2a2; /* Changes the background color when hovered over */
    border-radius: 20%; /* Rounds up the edges when hovered over */
}

/* Element container usign Flexbox for adaptive rendering */
.container {
    display: flex;
    flex-direction: row; /* Располагает дочерние элементы .container в строку */
    flex-wrap: wrap; /* Элементы переносятся на новую строку при нехватке места */
}

/* Элементы с классами .person и .interests занимают 25% ширины контейнера и центрируются */
.person, .interests {
    width: 25%;
    margin: auto;
}

.my_photo {
    width: 50%;
}

/* Styles for images inside the container */
.container img {
    display: block;
    border-radius: 5%; /* Rounded angles */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 30%;
    height: auto; /* Auto height for preserving original proportions */
    margin: auto;
    margin-top: 5%;
}

.container img:hover {
    transform: scale(1.1); /* Увеличение изображения на 10% */
    transition: 0.5s ease; /* Плавный переход за 0.5 секунды */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(255, 253, 216);
    margin: 0;
    overflow-x: hidden;
}

main {
    background: radial-gradient(circle, rgb(255, 130, 130) 5vw, rgb(255, 179, 97) 15vw, rgb(255, 243, 131) 25vw, rgb(152, 255, 143) 30vw, rgb(203, 254, 255) 35vw, rgb(143, 145, 255) 40vw, rgb(217, 168, 255) 48vw, rgb(247, 192, 255) 60vw);
    z-index: 1;
    background-attachment: fixed;
}

p {
    text-align: justify; /* Выравнивание текста по ширине */
    font-size: 1.5rem; /* Увеличенный размер шрифта */
    font-weight: normal; /* Обычный вес шрифта */
    margin-right: 20px; /* Добавляет отступ справа у параграфа */
    margin-left: 10px; /* Отступы по бокам */
    margin-bottom: 1vh;
    color:rgb(0, 0, 0);
}

h2 {
    margin-left: 10px; /* Отступы по бокам */
}

p:hover {
    background-color: rgb(255, 253, 216);
}

/* Секции внутри контейнера */
.container section {
    width: 100%; /* Секция занимает всю ширину контейнера */
    margin: auto; /* Центрирование секции */
}

.container-video {
    display: flex;
    flex-direction: column; /* Контейнер для видео, элементы располагаются вертикально */
}

.video1, .video2, .video3 {
    margin-bottom: 20px; /* Отступ снизу для каждого видео-блока */
    flex-direction: column; /* Внутренние элементы располагаются вертикально */
    display: flex; /* Применение Flexbox для управления содержимым */
}

.video1 video {
    margin: auto; /* Центрирование видео по горизонтали */
}

.video2 iframe {
    margin: auto; /* Центрирование iframe по горизонтали */
}

.video3 iframe {
    margin: auto; /* Центрирование iframe по горизонтали */
}

.container-audio {
    display: flex;
    flex-direction: column; /* Контейнер для аудио, элементы располагаются вертикально */
}

.audio1, .audio2, .audio3 {
    display: flex;
    flex-direction: column; /* Внутренние элементы располагаются вертикально */
    margin-top: 20px; /* Отступ сверху для каждого аудио-блока */
}

.audio1 audio, .audio2 audio, .audio3 audio {
    width: 60%; /* Аудиоплееры занимают 60% ширины контейнера */
    margin: auto; /* Центрирование аудиоплееров по горизонтали */
}

.audio1 img, .audio2 img, .audio3 img {
    margin: auto; /* Центрирование изображений */
    border-radius: 10%; /* Скругление углов изображений */
    box-shadow: 5px 5px 5px gray;
}

.container-book {
    display: flex;
    flex-direction: column; /* Контейнер для книг, элементы располагаются вертикально */
}

.book1, .book2, .book3 {
    display: flex;
    flex-direction: column; /* Внутренние элементы располагаются вертикально */
    margin-top: 20px; /* Отступ сверху для каждого книжного блока */
}

.book1 img, .book2 img, .book3 img {
    margin: auto; /* Центрирование изображений */
    border-radius: 10%; /* Скругление углов изображений */
    box-shadow: 5px 5px 5px gray;
    margin-bottom: 10px; /* Отступ снизу для изображений */
    width: 25%;
    aspect-ratio: 3/5;
    height: auto;
}

.book1 a, .book2 a, .book3 a {
    margin: auto; /* Центрирование ссылок */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    color: black; /* Цвет текста ссылок черный */
    font-size: 1.2rem; /* Увеличенный размер шрифта для ссылок */
} 

.book1 img:hover, .book2 img:hover, .book3 img:hover {
    box-shadow: 5px 5px 5px #d9a2a2;
}

.book1 a:hover, .book2 a:hover, .book3 a:hover {
    background-color: #d9a2a2;
    transition: 0.7s ease; /* Плавный переход фона за 0.7 секунды */
}

/* Стиль нижнего поля */
footer {
    display: flex;
    flex-direction: row; /* Элементы внутри футера располагаются горизонтально */
    justify-content: center; /* Центрирование содержимого футера */
    margin-top: auto;
    background-color: rgb(255, 255, 255);
}

footer a {
    margin-right: 5%; /* Отступ справа у ссылок в футере */
    margin-left: 5%;
}

.burger {
    display: none;
}

.form {
    flex-direction: column;
}

.form form {
    display: flex;
    flex-direction: column;
}

.form form fieldset {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
}

.form form fieldset input {
    margin-bottom: 10px;
}

.form form fieldset legend {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.form form button {
    width: 200px;
    font-size: 1.2rem;
    background-color: #7cc6e5;
    color: white;
    margin: auto;
    margin-bottom: 20px;
}

.form form button:hover {
    background-color: #b85252;
}

.math {
    display: flex; /* Sets the main tag with class math as a flex container */
}

.math form {
    display: flex; /* Sets the form tag within math as a flex container */
    flex-direction: column; /* Elements of the flex container are arranged in a column */
    margin: auto; /* Set automatic margins */
    padding-top: 20px; /* Set top padding to 20px */
    width: 100% /* The form tag will inherit the width of math */
}

.math form fieldset {
    display: flex; /* Sets fieldset as a flex container */
    width: 50%; /* The fieldset tag will inherit 50% of the width of form */
    margin: auto; /* Set automatic margins */
    flex-direction: column; /* Arranges elements of fieldset in a column */
    margin-bottom: 30px; /* Sets bottom margin to 30px */
}

.math form fieldset legend {
    text-align: center; /* Center the text */
    font-size: 1.2rem; /* Increase font size */
}

.math form fieldset .counters {
    display: flex; /* Sets counters as a flex container */
    flex-direction: row; /* Arranges elements of counters in a row */
    justify-content: center; /* Centers the elements inside counters horizontally */
    gap: 10px; /* Set the gap between the rows and the columns to 10px */
    margin-bottom: 20px; /* Set bottom margin to 20px */
}

.math form fieldset .counters div {
    display: flex; /* Sets div as a flex container */
    flex-direction: column; /* Arranges elements of div in a column */
    width: 50%; /* div inherits 50% of counters width */
    margin: auto; /* Sets automatic margins */
}

.math form fieldset .counters div label, input {
    margin: auto; /* Sets automatic margins */
    text-align: center; /* Centers the text inside input field and labels */
}

.math form fieldset .counters div label input {
    width: 70%; /* input inherits 70% of its parent element's width */
    font-size: 1.1rem; /* Increases text size */
    color: black; /* Sets text color to black */
}

.math form fieldset .butcont {
    display: flex; /* Sets butcont as a flex container */
    flex-direction: row; /* Arranges elements of butcont in a row */
    width: 100%; /* butcont inhertis the width of its parent element */
    margin-bottom: 20px; /* Sets bottom margin to 20px */
}

.math form fieldset .butcont button {
    display: block; /* Display button element as a block */
    width: 20%; /* button inherits 20% of its parent element's width */
    box-sizing: border-box; /* Padding and border are included in the width and height of button */
    height: 40px; /* Height of button element (border included) */
    margin: auto; /* Sets automatic margins */
}

.math form fieldset p {
    display: flex; /* Sets p as a flex container */
    margin: 0; /* Removes margins */
}

.math form fieldset p span {
    margin: auto; /* Sets automatic margins */
    font-size: 1.2rem; /* Increased font size */
}

.API {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.API section {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    margin-bottom: 5%;
}

.API section:first-child {
    margin-top: 5%;
}

.API section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.API section div span {
    font-size: 1.5rem;
}

.API img {
    width: 50%;
    height: auto;
    border-radius: 5%;
}

@media (max-width: 700px) {
    /* Screen width below 700px */

    .navbar {
        align-items: center;
        justify-content: flex-end;
    }

    .navbar img {
        margin: auto;
        margin-left: 0;
    }
    
    .navbar .tabs {
        position: absolute;
        background: radial-gradient(circle at top left, rgb(235, 224, 142), rgb(251, 198, 138), rgb(248, 174, 226)); /* Rainbow gradient background from the upper-left angle */
        flex-direction: column; /* List elements will be displayed veryically */
        width: 25%;
        height: auto;
        top: 6%; /* List displayed 6% lower from the upper-left corner of the screen */
        left: -25%; /* List displayed 25% of the screen width to the left */
        z-index: 2; /* Stack level of the element. it will cover elements with lesser stack levels */
    }

    .navbar .tabs div {
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .navbar .tabs div:hover {
        background-color: black; /* Black background when hovered over */
        transform: scale(1.07); /* Increased size of element by 7% when hovered over */
        transition: 0.4s ease; /* Smooth transition effect lasting 0.4s */
        border-radius: 5%;
    }

    .navbar .tabs div:hover a {   
        color: white;
    }

    .navbar .tabs div:hover a:hover {
        color: rgb(255, 199, 241); /* Link color changes to pink when hovered over */
        background-color: rgba(0, 0, 0, 0); /* Changes the background color to transparent when hovered over */
    }

    .navbar .tabs div:nth-child(1) {
        margin-top: 3%;
    }

    .navbar .tabs div a {
        margin-left: 0; /* No indentation to the left */
        font-size: 1.2rem;
    }

    .navbar .entry {
        display: flex; /* Sets .entry as a flex-container for its items*/
        color: black; /* Sets the color of link text to black */
    }

    .navbar.open .tabs {
        transform: translateX(100%); /* Move element 100% to the right (out of sight) */
        transition: 0.7s ease-in-out;
    }

    .navbar.open .burger span:nth-child(1) {
        transform: translateY(0) rotate(45deg); /* Rotates the first span by 45°, then returns to the initial place */
    }

    .navbar.open .burger span:nth-child(2) {
        opacity: 0; /* Makes the second span transparent */
    }

    .navbar.open .burger span:nth-child(3) {
        transform: translateY(0) rotate(-45deg);
    }

    .navbar .tabs .work .subtabs {
        position: absolute; /* Position the dropdown menu absolutely relative to its nearest positioned ancestor */
        flex-direction: column; /* Arrange children in a column */
        left: 87.5%; /* Offset the dropdown 85% from the left of the parent */
        top: 0; /* Align the top of the dropdown with the top of the parent */
        width: 100px; /* Set a fixed width for the dropdown */
        display: none; /* Initially hide the dropdown */
        padding: 0; /* Remove default padding */
        z-index: 20; /* Set a higher stacking order for the dropdown */
        height: auto;
        background: radial-gradient(circle at top left, rgb(248, 174, 226), rgb(251, 198, 138), rgb(235, 224, 142)); /* Rainbow gradient background from the upper-left angle */
    }
    
    .navbar .tabs .work div {
        height: 100%;
    }

    .navbar .work:hover .subtabs {
        transform: scale(1.0);
    }

    .navbar .work:hover .subtabs div:hover {
        background-color: black; /* Change background color to black on hover */
    }

    .navbar .work:hover .subtabs div:hover a {
        color: rgb(255, 255, 255); /* Change color to white on hover */
    }
    
    .navbar .work .subtabs div:hover a:hover {
        color: rgb(255, 199, 241); /* Link color changes to pink when hovered over */
    }
    
    .navbar .work:hover .subtabs div a {
        color: black; /* Set text color to black */
    }

    .navbar .tabs .work .subtabs div {
        background-color: transparent;
    }
    
    .container {
        display: flex;
        flex-direction: column; /* Переключение на вертикальный макет */
        align-items: center;
    }
    
    .person {
        display: flex;
        flex-direction: column; /* Внутренние элементы располагаются вертикально */
        flex-wrap: wrap; /* Перенос элементов на новую строку при необходимости */
        width: 100%; /* Элемент занимает всю ширину контейнера */
        margin: 0; /* Убираем отступы */
    }

    .person p {
        margin-top: 5px; /* Отступ сверху для параграфов */
        margin-bottom: 10px; /* Отступ снизу для параграфов */
    }
    
    .container img {
        margin-top: 20px; /* Отступ сверху для изображений */
        border-radius: 10%; /* Скругление углов изображений */
        box-shadow: 5px 5px 5px gray; /* Тень для изображений */
        width: 95%; /* Изображение занимает 95% ширины контейнера */
        height: auto; /* Высота автоматически подстраивается под ширину */
        margin: 0;
    }
    
    .container img:hover {
        transform: scale(1.03); /* Легкое увеличение изображения при наведении */
        transition: 0.5s ease; /* Плавный переход увеличения за 0.5 секунды */
        box-shadow: 5px 5px 5px #d9a2a2; /* Изменение тени при наведении */
    }

    .interests {
        display: flex;
        flex-direction: column; /* Внутренние элементы располагаются вертикально */
        flex-wrap: wrap; /* Перенос элементов на новую строку при необходимости */
        width: 100%; /* Элемент занимает всю ширину контейнера */
        margin: 0; /* Убираем отступы */
    }

    .interests p {
        margin-top: 10px; /* Отступ сверху для параграфов */
        margin-bottom: 0; /* Убираем отступ снизу */
    }

    h2 {
        margin: 10px; /* Отступы вокруг заголовка */
        text-align: center; /* Выравнивание заголовка по центру */
    }

    .video1 video {
        margin-top: 20px; /* Отступ сверху для видео */
        width: 95%; /* Видео занимает 95% ширины контейнера */
        height: auto; /* Высота автоматически подстраивается под ширину */
    }
    
    .video2 iframe {
        width: 95%; /* Iframe занимает 95% ширины контейнера */
        height: 320px; /* Высота Iframe фиксирована */
    }
    
    .video3 iframe {
        width: 95%; /* Iframe занимает 95% ширины контейнера */
        height: 320px; /* Высота Iframe фиксирована */
    }

    .book1 img, .book2 img, .book3 img {
        width: 95%; /* Изображения книг занимают 95% ширины контейнера */
        height: auto; /* Высота автоматически подстраивается под ширину */
    }

    .burger {
        display: block;
        position: relative;
        width: 40px;
        height: 40px;
        margin-right: 1%;
    }

    .burger span {
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: black;
        bottom: 20px;
        left: 5px;
    }
    
    .burger span:nth-child(1) {
        transform: translateY(-10px); /* Move the first span 10 px up */
    }

    .burger span:nth-child(3) {
        transform: translateY(10px); /* Move the third span 10 px down */
    }

    .form form fieldset {
        width: 80%;
    }
    
    main .kaleidoscope {
        position: fixed;
        left: 58vw;
        top: 41.8vh;
        padding: 0;
        margin: 0;
    }

    main .kaleidoscope div {
        position: fixed;
        border: 3vw double rgba(160, 112, 248, 0.25);
        outline: 3vw double rgba(72, 202, 254, 0.25);
        transform: rotate(0.08turn);
        margin: 1em;
    }

    .math form fieldset {
        width: 70%; /*Width of fieldset is 70% of that of form element */
    }

    .API section {
        width: 100%;
    }

    .API span {
        font-size: 1.05rem;
    }
}

@media (min-width: 700px) and (max-width: 1000px) {

    .container img {
        display: block;
        border-radius: 5%; /* Rounded angles */
        width: 50%;
    }

    .my_photo {
        width: 50%;
        height: auto;
    }

    .form form fieldset {
        width: 65%;
    }

    main .kaleidoscope {
        margin-top: 5.5vh;
    }

    .API {
        display: flex;
        flex-direction: column;
    }

    .API section {
        display: flex;
        flex-direction: row;
        width: 70%;
        margin: auto;
        margin-bottom: 40px;
    }

    .API .Petro {
        padding-top: 20px;
    }

    .API img {
        border-radius: 8px;
    }

    .API img, span {
        margin: auto;
        width: 50%;
        height: auto;
    }
}
